/* PAGE */
.terms-container {
  padding: 40px;
  background-color: #f5f6f8;
  min-height: 80vh;
}

/* BOX */
.terms-box {
  max-width: 900px;
  margin: auto;
  background: rgb(218, 234, 250);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
}

/* TITLE */
.terms-title {
  border-bottom: 2px solid #e5e7eb;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* TEXT */
.terms-box p {
  color: #555;
  line-height: 1.6;
  margin-top: 8px;
}

/* HEADINGS */
.terms-box h3 {
  margin-top: 20px;
}

/* LIST */
.terms-box ul {
  margin-left: 20px;
}
